.navbar {
  height: 100px;
  background: #5b5646;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 180px;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.logo {
  height: auto;
  width: 300px;

}

/* CENTER */
.nav-center a {
  color: #fff;
  text-decoration: none;
  margin: 0 16px;
  padding-bottom: 6px;
  font-size: 15px;
  margin-left: 20px;
}

.nav-center a.active {
  border-bottom: 3px solid #f5b400;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  cursor: pointer;
  font-size: 16px;
}

.btn-corporate {
  background: #f5b400;
  color: #000;
  padding: 8px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

